*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
hr{
    margin: 8px 0;
    opacity: 0.5;
}
#main{
    background: linear-gradient(rgba(0, 0, 0, 0.0),rgb(0, 0, 0,0.8), rgba(0, 0, 0, 0.0)), url('../assets/pexels-picography-6633.jpg');
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    padding: 80px;
    height: 80vh;
}
#main img{
    width: 60%;
    margin: 0 auto;
}

.presents{
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.presents article{
    padding: 32px;
    max-width: 600px;
} 
.presents article p{
    margin-top: 16px;
}
.presents img{
    max-width: 600px;
}

@media (max-width:1000px) {
    #main{
        width: 100%;
        height: 60vh;
        padding: 64px 0;
        background: linear-gradient(black, rgb(34, 34, 34));
    }
    #main h2{
        margin: 32px auto;
        width: 60%;
        font-size: 1rem;
    }

    .presents{
        height: max-content;
        padding: 16px 0;
        flex-direction: column;
    }

   
    .presents img{
        margin: 0;
        width: 100%;
    }
}